<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.musicals.recurringalarms">

    <!-- Permissions to wake up screen and disable keyguard setting for alarm controller activity -->
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <!-- This permission is required if user has set a custom alarm from external sd card -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        android:fullBackupContent="false">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- If we pass an intent filter here android identifies it as an implicit broadcast and doesn't work on oreo above -->
        <receiver
            android:name=".AlarmReceiver"
            android:enabled="true"
            android:exported="false">
        </receiver>

        <!-- Here exclude from recent won't show it in recent stack after finishing -->
        <activity android:name=".AlarmControllerActivity"
            android:showOnLockScreen="true"
            android:screenOrientation="sensorPortrait"
            android:excludeFromRecents="true">

        </activity>
    </application>

</manifest>